<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dkrypt's Blog</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="post.css">
</head>

<body>
    <div class="navbar">
        <ul>
            <li>Back to Profile</li>
            <li>All Posts</li>
            <li>Popular Posts</li>
        </ul>
    </div>
    <div id="post">
        <div id="header" class="box-shadow">
            <div id="title">Setting up 2node secure NiFi cluster</div>
            <div id="subtitle">
                <span id="author">By: dkrypt</span>
                <span id="reat-time">Read Time: ~15 mins</span>
            </div>
        </div>
        <div id="content">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
            It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently
            with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</div>
        <div id="footer"></div>
    </div>
</body>

</html>